{% extends 'base.html.twig' %}

{% block body %}


    {#<div class="container">#}

    {#<div class="row">#}

    {#<div class="col-lg-6">#}
    {#<div class="card">#}
    {#<div class="card-block">#}
    {#<h1 class="card-title text-lg-center"><i class="fa fa-code text-info"></i> Software#}
    {#</h1>#}

    {#<p class="card-text">We build creative solutions, driving fresh value into our clients'#}
    {#businesses. From Wordpress blogs to fully bespoke web applications; we've got you#}
    {#covered.</p>#}
    {#<ul class="list-group list-group-flush">#}
    {#<li class="list-group-item list-group-item-success">Bespoke web development</li>#}
    {#<li class="list-group-item list-group-item-success">Existing site support</li>#}
    {#<li class="list-group-item list-group-item-success">Existing site migrations</li>#}
    {#<li class="list-group-item list-group-item-success">Wordpress support / development</li>#}
    {#</ul>#}
    {#</div>#}
    {#<div class="card-block">#}
    {#<div class="text-lg-center">#}
    {#<a href="#" class="btn btn-success">Taggable engineering</a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}

    {#<div class="col-lg-6">#}
    {#<div class="card">#}
    {#<div class="card-block">#}
    {#<h1 class="card-title text-lg-center"><i class="fa fa-comments-o text-info"></i> Consulting#}
    {#</h1>#}
    {#<p class="card-text">Need help or advice? Tap into our expert knowledge, curated from years#}
    {#of#}
    {#experience in industry-leading roles and relationships.</p>#}
    {#</div>#}


    {#<ul class="list-group list-group-flush">#}
    {#<li class="list-group-item list-group-item-success">Choosing / setting up web hosting</li>#}
    {#<li class="list-group-item list-group-item-success">Choosing the right solution for you</li>#}
    {#<li class="list-group-item list-group-item-success">Installing SSL certificates</li>#}
    {#<li class="list-group-item list-group-item-success">Identifying training opportunities</li>#}
    {#<li class="list-group-item list-group-item-success">Beginning project management</li>#}
    {#<li class="list-group-item list-group-item-success">Creating development strategies</li>#}
    {#<li class="list-group-item list-group-item-success">Recruiting in-house development staff</li>#}
    {#</ul>#}
    {#<div class="card-block">#}
    {#<div class="text-lg-center">#}
    {#<a href="#" class="btn btn-success">Taggable consulting</a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}

    {#<div class="col-lg-12">#}
    {#<hr>#}
    {#</div>#}
    {#</div>#}

    {#</div>#}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5">Software Engineering</h1>
        </div>
    </div>

    <div class="container">

        <div class="row">

            <div class="bd-example bd-example-tabs" role="tabpanel">
                <ul class="nav nav-pills nav-stacked col-lg-3" id="myTab" role="tablist">

                    <li class="nav-item"><a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                            aria-controls="home" aria-expanded="true">Bespoke web development</a></li>
                    <li class="nav-item"><a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                            aria-controls="home" aria-expanded="true">Existing site support</a></li>
                    <li class="nav-item"><a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                            aria-controls="home" aria-expanded="true">Existing site migrations</a></li>
                    <li class="nav-item"><a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                            aria-controls="home" aria-expanded="true">Wordpress support /
                            development</a></li>

                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-expanded="true">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                           aria-controls="profile" aria-expanded="false">Profile</a>
                    </li>

                </ul>
                <div class="tab-content col-lg-9" id="myTabContent">
                    <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab"
                         aria-expanded="true">
                        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
                            aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan
                            helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh
                            mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan
                            aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"
                         aria-expanded="false">

                        <div class="card">
                            <div class="card-block">
                                <h1 class="card-title text-lg-center"><i class="fa fa-code text-info"></i> Software
                                </h1>

                                <p class="card-text">We build creative solutions, driving fresh value into our clients'
                                    businesses. From Wordpress blogs to fully bespoke web applications; we've got you
                                    covered.</p>
                            </div>
                            <div class="card-block">
                                <div class="text-lg-center">
                                    <a href="#" class="btn btn-success">Taggable engineering</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


            <div class="col-lg-12">
                <hr>
            </div>

        </div>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-5">Consulting</h1>
        </div>
    </div>

    <div class="container">

        <div class="row">

            <div class="bd-example bd-example-tabs" role="tabpanel">
                <ul class="nav nav-pills nav-stacked col-lg-2" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-expanded="true">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                           aria-controls="profile" aria-expanded="false">Profile</a>
                    </li>

                </ul>
                <div class="tab-content col-lg-10" id="myTabContent">
                    <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab"
                         aria-expanded="true">
                        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
                            aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan
                            helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh
                            mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan
                            aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"
                         aria-expanded="false">
                        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
                            Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan
                            four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft
                            beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda
                            labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit
                            sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
                            shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown,
                            tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                    </div>

                </div>
            </div>


            <div class="col-lg-12">
                <hr>
            </div>

        </div>
    </div>

{% endblock %}
